* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #DFDFDF;
  position: relative;
}

.join {
  cursor: pointer;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  letter-spacing: 1.2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

h2 {
  text-align: center;
  font-size: 44px;
  margin-top: 92px;
}
h2.animate {
  animation: comeFromTop 1s ease-in-out;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  margin: 20px 0 25px;
  font-size: 24px;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

a {
  color: #FFFFFF;
}

.mobile {
  display: none;
}
@media (max-width: 600px) {
  .mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo img {
    width: 125px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #000000;
  position: sticky;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
  align-items: center;
}
@media (max-width: 600px) {
  header {
    padding: 17px 27px;
  }
}
header .join {
  border: 1px solid #FFFFFF;
  padding: 10px 21px;
}
header .join:hover {
  background-color: #F05C48;
  border-color: #F05C48;
  color: #FFFFFF;
}

@media (max-width: 1500px) {
  .main-content {
    padding: 0 25px;
  }
}

.hero {
  display: flex;
  max-width: 1396px;
  margin: auto;
  padding: 178px 0 251px;
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.hero.animate .join:hover {
  animation: wiggle 2s linear infinite;
}
.hero.animate .hero-content {
  animation: comeFromLeft 1s ease-in-out;
}
.hero .hero-content {
  text-align: left;
  width: 47%;
}
@media (max-width: 600px) {
  .hero .hero-content {
    width: 100%;
    text-align: center;
    margin: 27px 0 25px;
  }
}
.hero .hero-content h1 {
  font-size: 64px;
  line-height: 72px;
  margin: 20px 0 24px;
}
@media (max-width: 600px) {
  .hero .hero-content h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
.hero .hero-content span {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .hero .hero-content span {
    font-size: 18px;
    line-height: 28px;
  }
}
.hero .hero-content .join {
  background-color: #D34037;
  margin-top: 24px;
  padding: 14px 31px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .hero .hero-content .join {
    width: 100%;
  }
}
.hero .hero-content .join:hover {
  background-color: #F05C48;
}

.full {
  width: 100%;
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  padding-bottom: 110px;
  z-index: -1;
}
.full.animate {
  animation: comeFromRight 1.3s ease;
}
@media (max-width: 600px) {
  .full {
    display: none;
  }
}
.full .hero-image {
  position: relative;
  top: 0;
  right: -135px;
  max-width: 70%;
}

.about {
  margin-top: 124px;
  text-align: center;
}
.about .animate.about-item:nth-child(1) {
  animation: comeFromLeft 1.3s ease forwards;
}
.about .animate.about-item:nth-child(2) {
  animation: comeFromTop 1.3s ease forwards;
  animation-delay: 0.1s;
}
.about .animate.about-item:nth-child(3) {
  animation: comeFromRight 1.3s ease forwards;
  animation-delay: 0.2s;
}
.about .animate.about-item:nth-child(4) {
  animation: comeFromLeft 1.3s ease forwards;
  animation-delay: 0.3s;
}
.about .animate.about-item:nth-child(5) {
  animation: comeFromRight 1.3s ease forwards;
  animation-delay: 0.4s;
}
.about .animate a svg {
  animation: pointDown 0.7s infinite;
}
.about .animate a:hover {
  color: #F05C48;
}
@media (max-width: 600px) {
  .about {
    margin-top: 24px;
  }
}
.about h2 {
  margin-top: 92px;
}
.about .about-grid {
  justify-content: center;
  max-width: 1396px;
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
  margin: 49px auto;
}
@media (max-width: 600px) {
  .about .about-grid {
    margin: 24px auto;
  }
}
.about .about-item {
  background-color: #101010;
  padding: 80px 48px 95px;
  text-align: center;
  min-width: 330px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 600px) {
  .about .about-item {
    padding: 36px 19px 44px;
  }
}
.about .about-item .about-item-content {
  max-width: 370px;
}
.about .about-item .about-item-content h3 {
  margin: 18px 0 25px;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 600px) {
  .about .about-item .about-item-content h3 {
    margin: 18px 0 24px;
  }
}
.about .about-item .about-item-content p {
  margin: 0 auto;
  width: 88%;
}
@media (max-width: 600px) {
  .about .about-item .about-item-content p {
    width: 100%;
  }
}

.counters-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 190px auto;
  text-align: center;
  max-width: 1396px;
}
.counters-wrap.animate .counter:nth-child(1) {
  animation: drop 0.6s ease-in-out;
  animation-delay: 0.1s;
}
.counters-wrap.animate .counter:nth-child(2) {
  animation: drop 0.6s ease-in-out;
  animation-delay: 0.2s;
}
.counters-wrap.animate .counter:nth-child(3) {
  animation: drop 0.6s ease-in-out;
  animation-delay: 0.3s;
}
.counters-wrap.animate .counter:nth-child(4) {
  animation: drop 0.6s ease-in-out;
  animation-delay: 0.4s;
}
@media (max-width: 600px) {
  .counters-wrap {
    margin: 100px auto 80px;
  }
}
.counters-wrap .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media (max-width: 600px) {
  .counters-wrap .counter {
    gap: 0;
    margin-bottom: 23px;
  }
}
.counters-wrap h4 {
  color: #D34037;
  font-size: 64px;
}
@media (max-width: 600px) {
  .counters-wrap h4 {
    font-size: 44px;
    line-height: 52px;
  }
}
.counters-wrap p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .counters-wrap p {
    width: 100%;
  }
}

.video {
  display: flex;
  justify-content: center;
  max-width: 1117px;
  height: 625px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .video {
    height: 187px;
  }
}

.tools.animate .tools-grid .tool:nth-child(1) svg {
  animation: comeFromRight 1s ease;
  animation-delay: 0.1s;
}
.tools.animate .tools-grid .tool:nth-child(2) svg {
  animation: comeFromRight 1s ease;
  animation-delay: 0.2s;
}
.tools.animate .tools-grid .tool:nth-child(3) svg {
  animation: comeFromRight 1s ease;
  animation-delay: 0.3s;
}
.tools h2 {
  margin-top: 194px;
}
@media (max-width: 600px) {
  .tools h2 {
    margin-top: 53px;
  }
}
.tools .tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 48px auto;
  text-align: left;
  justify-items: center;
  max-width: 1400px;
}
@media (max-width: 600px) {
  .tools .tools-grid {
    gap: 27px;
    margin: 25px auto;
  }
}
.tools .tools-grid .tool {
  padding: 46px 50px;
  border-radius: 8px;
  background-color: #101010;
  width: 100%;
  transition: transform 1s ease;
}
.tools .tools-grid .tool:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
}
.tools .tools-grid .tool:hover svg {
  animation: wiggle 2s linear infinite;
}
@media (max-width: 600px) {
  .tools .tools-grid .tool {
    padding: 48px 26px 45px;
  }
}
.tools h3 {
  margin: 20px 0 7px;
}

.success {
  overflow: hidden;
  margin-top: 98px;
  background-color: #101010;
  padding: 0 60px 177px;
}
.success.animate .swiper-wrapper {
  animation: comeFromRight 1s ease;
}
@media (max-width: 600px) {
  .success {
    padding: 0;
    margin-top: 50px;
  }
}
.success h2 {
  margin-top: 100px;
}
@media (max-width: 600px) {
  .success h2 {
    margin-top: 50px;
  }
}
.success .swiper {
  margin-top: 53px;
  position: relative;
}
@media (max-width: 600px) {
  .success .swiper {
    padding: 0 27px 168px;
    margin-top: 23px;
  }
}
.success .swiper .swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: #202020;
  position: absolute;
  right: -60px;
  top: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .success .swiper .swiper-button-next {
    right: 6px;
    bottom: 36px;
    top: unset;
  }
}
.success .swiper .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-color: #202020;
  position: absolute;
  left: -60px;
  top: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .success .swiper .swiper-button-prev {
    left: 6px;
    bottom: 36px;
    top: unset;
  }
}
.success .swiper .swiper-wrapper {
  display: flex;
}
.success .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.success .swiper .swiper-wrapper .swiper-slide h3 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 36px 0 16px;
}
@media (max-width: 600px) {
  .success .swiper .swiper-wrapper .swiper-slide h3 {
    margin: 24px 0 16px;
  }
}
.success .swiper .swiper-wrapper .swiper-slide .success-content {
  text-align: left;
  width: 85%;
}
@media (max-width: 600px) {
  .success .swiper .swiper-wrapper .swiper-slide .success-content {
    width: 100%;
  }
}
.success .swiper .swiper-wrapper .swiper-slide .success-content span {
  color: #9F9F9F;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.success .swiper .swiper-wrapper .swiper-slide > img {
  width: 100%;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 63px 0;
  gap: 11px;
}
@media (max-width: 600px) {
  footer {
    gap: 38px;
  }
}
footer.animate svg {
  animation: pointUp 0.7s infinite;
}
footer.animate a:hover {
  color: #F05C48;
}
@media (max-width: 600px) {
  footer {
    margin: 27px 0;
  }
}
footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
footer .logo {
  margin-top: 53px;
}
@media (max-width: 600px) {
  footer .logo {
    margin-top: 0;
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
@keyframes comeFromTop {
  0% {
    transform: translatey(-50px);
    opacity: 0.5;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes comeFromRightSlider {
  0% {
    transform: translateX(250px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes comeFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes comeFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeSize {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pointDown {
  0% {
    position: relative;
    scale: 1;
    top: 0;
  }
  50% {
    position: relative;
    scale: 1.2;
    top: 10px;
  }
  100% {
    position: relative;
    scale: 1;
    top: 0;
  }
}
@keyframes pointUp {
  0% {
    position: relative;
    scale: 1;
    top: 0;
  }
  50% {
    position: relative;
    scale: 1.2;
    top: -10px;
  }
  100% {
    position: relative;
    scale: 1;
    top: 0;
  }
}
@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
